# 忽略不必要的文件以减少上传大小
node_modules/
.expo/
.git/
android/
ios/
dist/
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.tgz
*.tar.gz
.nyc_output/
tmp/
temp/
.cache/
.parcel-cache/
.next/
out/
build/
*.orig
.expo-shared/
web-build/
.vscode/
*.iml
.idea/
*.hprof
